body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-inter: Inter;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-steelblue: #176b87;
}
