<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="/static/confirm.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;600&display=swap"
    />
  </head>
  <body>
    <div class="conform-your-orderd">
      <div class="home-navigastion">
        <div class="home-parent" id="groupContainer">       
          <div class="nav"> 
            <span class="home">Home</span>
            <span class="service">Service</span>
            <span class="about">About</span>
            <span class="contact-us">Contact us</span>
          </div>
          <img class="logo-1-icon" alt="" src="/static/public/logo-1@2x.png" />
        </div>
      </div>

      <div class="conform-your-orderd-container">
        <div class="conform-your-orderd-left">
          <img class="order-confim-1" alt="" src="/static/public/order-confim-1.svg" />
        </div>
        <div class="conform-your-orderd-right">
          <div class="right-box">
            <span class="confirm-your-order-text">Confirm Your Order</span>
            <div class="order-details">
              <span>Floor: <span class="order-values">First Floor</span></span>
              <span>Room No: <span class="order-values">245</span></span>
              <span>Restaurant: <span class="order-values">Starbucks</span></span>
              <span>Ordered: <span class="order-values">Aloo Tikki</span></span>
            </div>
            <button class="order-btn"><a href="#"><span>O</span><span>R</span><span>D</span><span>E</span><span>R</span></a></button>
          </div>
        </div>
      </div>



      <!-- <img class="bg-2-icon" alt="" src="./public/bg-2@2x.png" />

      <div class="home-navigastion">
        <b class="autom8">AUTOM8</b>
        <div class="home-parent">
          <div class="home" id="homeText">Home</div>
          <div class="service">Service</div>
          <div class="about">About</div>
          <div class="contact-us">Contact us</div>
          <img class="logo-1-icon" alt="" src="./public/logo-1@2x.png" />
        </div>
      </div>
      <div class="conform-your-orderd-child"></div>
      <div class="confirm-your-order">Confirm Your Order</div>
      <div class="floor-first-floor-container">
        <p class="floor-first-floor">
          <span class="floor">
            <span class="floor1">Floor:</span>
          </span>
          <span>
            <span class="floor"> </span>
            <span class="first-floor">First Floor</span>
          </span>
        </p>
        <p class="room-no-245">
          <span class="room-no">
            <span>Room No:</span>
            <span class="span1"> </span>
          </span>
          <span class="span1">
            <span class="mcdonalds">245</span>
          </span>
        </p>
        <p class="floor-first-floor">
          <span class="room-no">
            <span class="floor1">Restaurant:</span>
            <span> </span>
          </span>
          <span>
            <span class="mcdonalds">McDonald's</span>
          </span>
        </p>
        <p class="ordered-mcaloo-tikki-burger">
          <span class="floor">
            <span class="floor1">Ordered:</span>
          </span>
          <span>
            <span class="floor"> </span>
            <span class="first-floor">McAloo Tikki Burger</span>
          </span>
        </p>
      </div>
      <img class="order-confim-1" alt="" src="./public/order-confim-1.svg" />

      <div class="rectangle-parent" id="groupContainer1">
        <div class="group-child"></div>
        <div class="order">ORDER</div>
      </div> -->
    </div>

    <script>
      var homeText = document.getElementById("homeText");
      if (homeText) {
        homeText.addEventListener("click", function (e) {
          // Please sync "Home" to the project
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          // Please sync "Order Conform" to the project
        });
      }
      </script>
  </body>
</html>
