<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="/static/floor.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
    />
  </head>
  <body>
    <div class="flooer-and-room-number">
      <div class="home-navigastion">
        <div class="home-parent" id="groupContainer">       
          <div class="nav"> 
            <span class="home">Home</span>
            <span class="service">Service</span>
            <span class="about">About</span>
            <span class="contact-us">Contact us</span>
          </div>
          <img class="logo-1-icon" alt="" src="/static/public/logo-1@2x.png" />
        </div>
      </div>

      <div class="flooer-and-room-number-container">
        <div class="floor-box">
          <div class="floor-header">
            <span>Select Floor</span>
            <span>Select Room No</span>
          </div>
          <div class="floor-section">
            <div class="floor">
              <span>Ground Floor</span>
              <span class="floor-number">
                <span>101</span>
                <span>102</span>
                <span>103</span>
              </span>
            </div>
            <div class="floor">
              <span>First Floor</span>
              <span class="floor-number">
                <span>201</span>
                <span>202</span>
                <span>203</span>
              </span>
            </div>
            <div class="floor">
              <span>Second Floor</span>
              <span class="floor-number">
                <span>301</span>
                <span>302</span>
                <span>303</span>
              </span>
            </div>
          </div>
          <img class="floor-1-icon" alt="" src="/static/public/floor-1.svg" />
        </div>
      </div>


      
    </div>
  </body>
</html>
