<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="stylesheet" href="/static/last.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="order-conform">
      <div class="home-navigastion">
        <div class="home-parent" id="groupContainer">       
          <div class="nav"> 
            <span class="home">Home</span>
            <span class="service">Service</span>
            <span class="about">About</span>
            <span class="contact-us">Contact us</span>
          </div>
          <img class="logo-1-icon" alt="" src="/static/public/logo-1@2x.png" />
        </div>
      </div>

      <div class="order-conform-container">
        <div class="order-confirm-box">
          <span class="confirm">Your Order Is Confirmed</span>
          <span class="time">Our Robot Will Deliver Your Order As Fast As You Eat</span>
          <img class="logo-1-icon1" alt="" src="/static/public/logo-11@2x.png" />
        </div>
      </div>
    </div>

    <script>
      var homeText = document.getElementById("homeText");
      if (homeText) {
        homeText.addEventListener("click", function (e) {
          // Please sync "Home" to the project
        });
      }
      </script>
  </body>
</html>
