<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="/static/index.css" />
  <link rel="stylesheet" href="/static/global.css" />
  <link rel="stylesheet" href="/static/mainGlobal.css" />
  <link rel="stylesheet" href="/static/main.css" />



  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Irish Grover:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />
</head>

<body>
  <div class="main">
    <div class="home-navigastion">
      <div class="home-parent" id="groupContainer">
        <div class="nav">
          <span class="home">Home</span>
          <span class="service">Service</span>
          <span class="about">About</span>
          <span class="contact-us">Contact us</span>  
        </div>
        <img class="logo-1-icon" alt="" src="/static/public/logo-1@2x.png" />
      </div>
    </div>


    <div class="login-container">
      <div class="autom8-making-campus-container">
        <p class="making-campus-life">AUTOM8</p>
        <p class="making-campus-life">Making Campus Life More Great!</p>
        <button class="student-login"><a href="/index" style="text-decoration: none; color: #fff;">Login</a></button>
      </div>
    </div>
  </div>

  <script>
    var rectangle = document.getElementById("rectangle");
    if (rectangle) {
      rectangle.addEventListener("click", function (e) {
        // Please sync "Login INFO PAGE" to the project
      });
    }
  </script>
</body>

</html>