<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="/static/global.css" />
  <link rel="stylesheet" href="/static/index.css" />
  <link rel="stylesheet" href="/static/menu1.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" />
</head>

<body>
  <div class="menu1">
    <div class="home-navigastion">
      <div class="home-parent" id="groupContainer">
        <div class="nav">
          <span class="home">Home</span>
          <span class="service">Service</span>
          <span class="about">About</span>
          <span class="contact-us">Contact us</span>
        </div>
        <img class="logo-1-icon" alt="" src="/static/public/logo-1@2x.png" />
      </div>
    </div>

    <div class="menu1-container">
      <div class="menu1-list">
        <div class="menu1-item">
          <div class="menu1-item-list">
            <div class="item1">
              <div class="item-name">
                <span>Cheesy Fries</span>
              </div>
              <img class="item1-img" alt="" src="/static/public/screenshot-20230919-111746-1@2x.png" />
            </div>

            <div class="item1">
              <div class="item-name">
                <span>Burger</span>
              </div>
              <img class="item1-img" alt="" src="/static/public/deliciouscheeseburger-1@2x.png" />
            </div>
            <div class="item1">
              <div class="item-name">
                <span>Ice Cream</span>
              </div>
              <img class="item1-img" alt="" src="/static/public/mcflurry-1@2x.png" />
            </div>

            <div class="item1">
              <div class="item-name">
                <span>Chai</span>
              </div>
              <img class="item1-img" alt=""
                src="/static/public/highanglecoffeecupwithcinnamonstickscopyspace-1@2x.png" />
            </div>
          </div>
        </div>
        <img class="machdonals-1-icon" alt="" src="/static/public/machdonals-1@2x.png" />
      </div>
    </div>
  </div>

</body>

</html>