<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="/static/restaurantGlobal.css" />
  <link rel="stylesheet" href="/static/index.css" />
  <link rel="stylesheet" href="/static/restaurant.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" />
</head>

<body>
  <div class="resturent-page">
    <div class="home-navigastion">
      <div class="home-parent" id="groupContainer">
        <div class="nav">
          <span class="home">Home</span>
          <span class="service">Service</span>
          <span class="about">About</span>
          <span class="contact-us">Contact us</span>
        </div>
        <img class="logo-1-icon" alt="" src="/static/public/logo-1@2x.png" />
      </div>
    </div>

    <div class="resturent-page-container">
      <div class="resturent-list">
        <div class="resturent-1">
          <div class="resturent-square">
            <span><a href="/menu1"s style="text-decoration: none; color: #053B50;">McDonald’s</a></span>
          </div>
          <img
          class="machdonals-1-icon restaurant-img"
          alt=""
          src="/static/public/machdonals-1@2x.png"
        />
        </div>
      </div>

      <div class="resturent-list">
        <div class="resturent-1">
          <div class="resturent-square">
            <span><a href="/menu2"s style="text-decoration: none; color: #053B50;">Starbucks</a></span>
          </div>
          <img
          class="machdonals-1-icon restaurant-img"
          alt=""
          src="/static/public/starbuckslogo-1@2x.png"
        />
        </div>
      </div>

      <div class="resturent-list">
        <div class="resturent-1">
          <div class="resturent-square">
            <span><a href="/menu3"s style="text-decoration: none; color: #053B50;">Library</a></span>
          </div>
          <img
          class="machdonals-1-icon restaurant-img"
          alt=""
          src="/static/public/5836-1@2x.png"
        />
        </div>
      </div>
    </div>




    <!-- <img class="bg-2-icon" alt="" src="./public/bg-2@2x.png" />

      <div class="home-navigastion">
        <b class="autom8">AUTOM8</b>
        <div class="home-parent">
          <div class="home" id="homeText">Home</div>
          <div class="service">Service</div>
          <div class="about">About</div>
          <div class="contact-us">Contact us</div>
          <img class="logo-1-icon" alt="" src="./public/logo-1@2x.png" />
        </div>
      </div>
      <div class="vector-parent" id="groupContainer1">
        <img class="group-child" alt="" src="./public/rectangle-83.svg" />

        <b class="mcdonalds">McDonald’s</b>
        <img
          class="machdonals-1-icon"
          alt=""
          src="./public/machdonals-1@2x.png"
        />
      </div>
      <div class="vector-group">
        <img class="group-child" alt="" src="./public/rectangle-83.svg" />

        <b class="starbucks-coffee">
          <p class="starbucks">Starbucks</p>
          <p class="starbucks">Coffee</p>
        </b>
        <img
          class="starbucks-logo-1-icon"
          alt=""
          src="./public/starbuckslogo-1@2x.png"
        />
      </div>
      <div class="vector-container">
        <img class="group-child" alt="" src="./public/rectangle-83.svg" />

        <b class="library">library</b>
        <img class="icon" alt="" src="./public/5836-1@2x.png" />
      </div> -->
  </div>

  <script>
    var homeText = document.getElementById("homeText");
    if (homeText) {
      homeText.addEventListener("click", function (e) {
        // Please sync "Home" to the project
      });
    }

    var groupContainer1 = document.getElementById("groupContainer1");
    if (groupContainer1) {
      groupContainer1.addEventListener("click", function (e) {
        // Please sync "Mcdonalds" to the project
      });
    }
  </script>
</body>

</html>